# Application Settings
FLASK_DEBUG=
FLASK_MODE=
TEMPLATES_AUTO_RELOAD=
SECRET_KEY=

DB_USER=
DB_PASS=
DB_HOST=
DB_NAME=
DB_PORT=

# SQLAlchemy Settings
SQLALCHEMY_POOL_SIZE=
SQLALCHEMY_MAX_OVERFLOW=
SQLALCHEMY_POOL_TIMEOUT=
SQLALCHEMY_POOL_RECYCLE=
SQLALCHEMY_POOL_PRE_PING=
SQLALCHEMY_ECHO_POOL=
SQLALCHEMY_ECHO=
SQLALCHEMY_TRACK_MODIFICATIONS=
SQLALCHEMY_POOL_USE_LIFO=